@charset "utf-8";
/*全局样式*/
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, 

h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, 

ul, input , pre ,var textarea,th, td {
	margin: 0;
	padding: 0;
}

body, button, input, select, textarea {
	font-family:'SXT',"微软雅黑",Verdana, Arial, Helvetica, sans-serif;
}
@font-face{
	font-family:SXT;
	src:url(STXIHEI.TTF);
}
html {
	font-size: 62.5%;
}
body{
    background:#ffffff; width:100%; height:100%;outline: 0;
    font-size: 1.4rem;font-size: 14px;
}
ol, ul , li {
	list-style: outside none none;
}
img{ 
    border:none; display:block;vertical-align:middle;
}
a{ 
    text-decoration:none;blr:expression(this.onFocus=this.blur());
}
a,input,button,*:focus,textarea,select{
    outline:none;
}
table{ 
    border-collapse:collapse;table-layout: fixed;border-spacing: 0;
}
tr th,tr td { 
    word-break: break-all; word-wrap:break-word;
}
.clearfix:after {
    clear: both;content: ".";display: block;height: 0;visibility: hidden;*zoom:1;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
.fl{ 
    float:left;
}
.fr{ 
    float:right;
}
.container{ 
    width:90%; margin:0 auto;
}
/*首页*/
header {
	background: #2c4062;
	height: 68px;
}
.logo {
	width: 40%;
	margin: 0 auto;
	padding-top: 20px;
}
.logo img {
	width: 100%;
}
nav {
	position: relative;
	padding: 10px 0;
	background-color: #f4f5f6;
	border-bottom: 1px solid #dddddd;
}
.swiper-slide {
	text-align: center;
	font-size: 20px;
	font-size: 2.0rem;
	color: #505050;
}
.select-on {
	color: #333;
	font-weight: bold;	
}
.news-h1 a {
	color: #222222;
	font-size: 17px;
	font-size: 1.7rem;
}
.time {
	margin-top: 6px;
}
.time span {
	color: #999999;
	font-size: 1.0rem;
}
.news-imga {
	width: 100%;
}
.news-imga img,.news-imgb img  {
	width: 100%;
}
article {
	padding: 16px 0;
	border-bottom: 1px solid #f0f0f0;
}
.news-listb {
	width: 61.7%;
}
.news-imgb {
	width: 36.2%;
}
.news-imgc {
	margin-left: -1%;
}
.news-imgc img {
	float: left;
	width: 32.3%;
	margin-left: 1%;
}
.news-imga,.news-imgc {
	margin-top: 6px;
}
.sear-btn {
	position: absolute;
	right: 5%;
	top:25px;
    width: 5.5%;
}
.sear-btn img {
	width: 100%;
}
/*搜索*/
.search {
	display: none;
}
.searInut {
	width: 65.7%;
	position: relative;	
}
.searText {
	font-size: 16px;
	font-size: 1.6rem;
	padding-left: 23%;
	padding-right: 3%;
	color: #222223;
	border: none;
	width: 100%;
	border: 1px solid #cccccc;
	border-radius: 20px;
	background-color: #fff;
	height: 34px;
}
.searSub {
	top: 9px;
	left: 8%;
	position: absolute;
	border: none;
	background-image: url(../img/index_35.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 9%;
	height: 50%;
}
.cancel {
	color: #999999;
	font-size: 20px;
	font-size: 2.0rem;
	line-height: 34px;
}
/*登陆*/
.main-img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
}
.main-img img {
	width: 100%;
	height: 100%;
}
.main {
	padding-top: 74px;
}
.logoA {
	margin: 0 auto;
	width: 60%;
}
.logoA img {
	width: 100%;
}
.login h3 {
	padding-top: 32px;
	padding-bottom: 10px;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	font-size: 2.0rem;
}
.login ul li {
	margin: 20px auto;
	width: 20%;
}
.login ul li img {
    width: 100%;	
}
.return {
	width: 6.6%;
	position: absolute;
	right: 20px;
	top: 20px;
}
.return img {
	width: 100%;
}
/*文章详情页*/
.headline {
	padding-top: 20px;
}
.headline h1 {
	font-size: 22px;
	font-size: 2.2rem;
	color: #222222;
	font-weight: bold;
}
.data {
	padding-top: 10px;
}
.data span {
	padding-right: 6%;
	font-size: 14px;
	font-size: 1.4rem;
    color: #999999;
}
.article img {
	padding-top: 20px;
	width: 100%;
}
.article p {
	padding-top: 25px;
	font-size: 18px;
	font-size: 1.8rem;
	color: #333333;
}
.artImg i {
	display: block;
	padding-top: 10px;
	font-size: 14px;
	font-size: 1.4rem;
	color: #666666;
}
.comment {
	margin-top: 30px;
}
.com-h1 i {
	float: left;
	width: 7px;
	height: 30px;
	margin-top: 6px;
	background-color: #022879;
}
.com-h1 h1 {
	float: left;
	padding-left: 20px;
	color: #333333;
	font-size: 28px;
	font-size: 2.8rem;
	font-weight: bold;	
    /*border-left: 7px solid #022879;*/
}
.head {
	width: 12%;
	padding-right: 3%;
}
.head img {
	border-radius: 100%;
	width: 100%;
	height: 100%;
}
.comment-count {
	width: 85%;
}
.name-one {
	font-size: 14px;
	font-size: 1.4rem;
	color: #999999;
}
.name-one span {
	display: block;
	font-size: 12px;
	font-size: 1.2rem;
}
.use-ly {
	font-size: 12px;
	font-size: 1.2rem;
	width: 100%;
}
.use-ly span {
	width: 60%;
	display: block;
	float: left;
}
.use-ly img {
	float: left;
	width: 30%;
}
.message-one p,.message-two p {
	color: #333333;
	font-size: 16px;
	font-size: 1.6rem;
}
.name-two {
    color: #bcbcbc;
}
.message-two {
	padding-left: 5%;
	padding-top: 15px;
}
.com-pl {
	padding: 20px 0;
	border-bottom: 1px solid #efefef;
}
.moreBtn {
	padding: 15px 0;
	text-align: center;
}
.moreBtn a {
	color: #406599;
	font-size: 18px;
	font-size: 1.8rem;
}
.moreBtn a span {
	font-size: 12px;
	font-size: 1.2rem;
}
.red-h i {
	background-color: #d83434;
}
.discuss {
	width: 100%;
	border-top: 1px solid #dddddd;
	background-color: #f4f5f6;
	padding: 8px 0;
	position: fixed;
	bottom: 0;
}
.disInput {
	width: 80%;
}
.disInput textarea {
	color: #999999;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 6px 3%;
	margin-top: 4px;
	width: 100%;
	border: 1px solid #cccccc;
	background-color: #fff;
	border-radius: 20px;
	resize: none;
	height: 22px;
}
.disInput-le {
	width: 92%;
}
.share {
	margin-top: 60px;
	margin-bottom: 30px;
}
.shaLine {
	position: relative;
	padding-bottom: 20px;
}
.shaLine i {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #eee;
}
.shaLine span {
	font-size: 18px;
	font-size: 1.8rem;
	position: absolute;
	left: 41%;
	margin-top:-15px;
	background-color: #fff;
	text-align: center;
    color: #bababa;
}
.sha-fx {
	margin-left: 4%;
	width: 20%;
	float: left;
}
.sha-fx img {
	width: 90%;
	margin: 0 auto;
}
.sha-fx span {
	padding-top: 10px;
	display: block;
	text-align: center;
	color: #999999;
	font-size: 14px;
	font-size: 1.4rem;
}
.com-h1 {
	padding-bottom: 10px;
}
.topBtn {
	position: fixed;
	bottom: 66px;
	right: 8px;
}
.topBtn img {
	width: 80%;
}
.sent {
	display: none;
}
.sentBtn {
	float: right;
	color: #fff;
	font-size: 13px;
	font-size: 1.3rem;
	padding: 2px 10px;
	background-color: #b5b5b5;
	border-radius: 5px;
}
.loading {
	padding-top: 35px;
	text-align: center;
}
.loading a {
	padding-bottom: 50px;
	padding-left: 45px;
	background-image: url(../img/index_32.png);
	background-repeat: no-repeat;
    color: #999999;
    font-size: 22px;
    font-size: 2.2rem;
}






































