@charset "utf-8";
/*全局样式*/
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, 

h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, 

ul, input , pre ,var textarea,th, td {
	margin: 0;
	padding: 0;
}

body, button, input, select, textarea {
	font-family:'SXT',"微软雅黑",Verdana, Arial, Helvetica, sans-serif;
}
@font-face{
	font-family:SXT;
}
html {
	font-size: 62.5%;
}
body{
    background:#ffffff; width:100%; height:100%;outline: 0;
    font-size: 1.4rem;font-size: 14px;
}
ol, ul , li {
	list-style: outside none none;
}
img{ 
    border:none; display:block;vertical-align:middle;
}
a{ 
    text-decoration:none;blr:expression(this.onFocus=this.blur());
}
a,input,button,*:focus,textarea,select{
    outline:none;
}
table{ 
    border-collapse:collapse;table-layout: fixed;border-spacing: 0;
}
tr th,tr td { 
    word-break: break-all; word-wrap:break-word;
}
.clearfix:after {
    clear: both;content: ".";display: block;height: 0;visibility: hidden;*zoom:1;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
.fl{ 
    float:left;
}
.fr{ 
    float:right;
}
.container{ 
    width:90%; margin:0 auto;
}
/*首页*/
#header {
    position: relative;
    z-index: 100;
}
header {
	background: #2c4062;
	height: 68px;
	position: fixed;
	width: 100%;
	top: 0px;
}
.logo {
	width: 40%;
	margin: 0 0 0 30px;
	float: left;
	padding-top: 20px;
}
.logo img {
	width: 166px;
	height: auto;
	display: block;
	margin: 0 auto;
}
nav {
	background-color: #f4f5f6;
	width: 100%;
	top: 68px;
	position: fixed;
	padding: 8px 0;
	border-bottom: 1px solid #dddddd;
}
.swiper-slide {
	text-align: center;
	font-size: 20px;
	font-size: 2.0rem;
	color: #505050;
}
.swiper-slide a{
	color: #505050;
}
.select-on {
	color: #333;
	font-weight: bold;	
}
.news-h1 a {
	color: #222222;
	font-size: 17px;
	font-size: 1.7rem;
}
.time {
	margin-top: 6px;
}
.time span {
	color: #999999;
	font-size: 1.0rem;
}
.news-imga {
	width: 100%;
}
.news-imga img,.news-imgb img  {
	width: 100%;
}
article {
	padding: 16px 0;
	border-bottom: 1px solid #f0f0f0;
}
.news-listb {
	width: 61.7%;
}
.news-imgb {
	width: 36.2%;
}
.news-imgc {
	margin-left: -1%;
}
.news-imgc img {
	float: left;
	width: 32.3%;
	margin-left: 1%;
}
.news-imga,.news-imgc {
	margin-top: 6px;
}
.sear-btn {
	position: absolute;
	right: 5%;
	top:25px;
    width: 5.5%;
}
.sear-btn img {
	width: 100%;
}
/*搜索*/
.search {
	display: none;
}
.searInut {
	width: 65.7%;
	position: relative;	
}
.searText {
	font-size: 16px;
	font-size: 1.6rem;
	padding-left: 23%;
	padding-right: 3%;
	color: #222223;
	border: none;
	width: 100%;
	border: 1px solid #cccccc;
	border-radius: 20px;
	background-color: #fff;
	height: 34px;
}
.searSub {
	top: 9px;
	left: 8%;
	position: absolute;
	border: none;
	background-image: url(/img/index_35.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 9%;
	height: 50%;
}
.cancel {
	color: #999999;
	font-size: 20px;
	font-size: 2.0rem;
	line-height: 34px;
}
/*登陆*/
.main-img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
}
.main-img img {
	width: 100%;
	height: 100%;
}
.main {
	padding-top: 74px;
}
.logoA {
	margin: 0 auto;
	width: 60%;
}
.logoA img {
	width: 100%;
}
.login h3 {
	padding-top: 32px;
	padding-bottom: 10px;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	font-size: 2.0rem;
}
.login ul li {
	margin: 20px auto;
	width: 20%;
}
.login ul li img {
    width: 100%;	
}
.return {
	width: 6.6%;
	position: absolute;
	right: 20px;
	top: 20px;
}
.return img {
	width: 100%;
}
/*文章详情页*/
.headline {
	padding-top: 20px;
}
.headline h1 {
	font-size: 22px;
	font-size: 2.2rem;
	color: #222222;
	font-weight: bold;
}
.data {
	padding-top: 10px;
}
.data span {
	padding-right: 6%;
	font-size: 14px;
	font-size: 1.4rem;
    color: #999999;
}
.article img {
	padding-top: 20px;
	width: 100%;
}
.article p {
	padding-top: 25px;
	font-size: 18px;
	font-size: 1.8rem;
	color: #333333;
}
.artImg i {
	display: block;
	padding-top: 10px;
	font-size: 14px;
	font-size: 1.4rem;
	color: #666666;
}
.comment {
	margin-top: 30px;
}
.com-h1 i {
	float: left;
	width: 7px;
	height: 30px;
	margin-top: 6px;
	background-color: #022879;
}
.com-h1 h1 {
	float: left;
	padding-left: 20px;
	color: #333333;
	font-size: 28px;
	font-size: 2.8rem;
	font-weight: bold;	
    /*border-left: 7px solid #022879;*/
}
.head {
	width: 12%;
	padding-right: 3%;
}
.head img {
	border-radius: 100%;
	width: 100%;
	height: 100%;
}
.comment-count {
	width: 85%;
}
.name-one {
	font-size: 14px;
	font-size: 1.4rem;
	color: #999999;
}
.name-one span {
	display: block;
	font-size: 12px;
	font-size: 1.2rem;
}
.use-ly {
	font-size: 12px;
	font-size: 1.2rem;
	width: 100%;
}
.use-ly span {
	width: 60%;
	display: block;
	float: left;
}
.use-ly img {
	float: left;
	width: 30%;
}
.message-one p,.message-two p {
	color: #333333;
	font-size: 16px;
	font-size: 1.6rem;
}
.name-two {
    color: #bcbcbc;
}
.message-two {
	padding-left: 5%;
	padding-top: 15px;
}
.com-pl {
	padding: 20px 0;
	border-bottom: 1px solid #efefef;
}
.moreBtn {
	padding: 15px 0;
	text-align: center;
}
.moreBtn a {
	color: #406599;
	font-size: 18px;
	font-size: 1.8rem;
}
.moreBtn a span {
	font-size: 12px;
	font-size: 1.2rem;
}
.red-h i {
	background-color: #2c4062;
}
.discuss {
	width: 100%;
	border-top: 1px solid #dddddd;
	background-color: #f4f5f6;
	padding: 8px 0;
	position: fixed;
	bottom: 0;
}
.disInput {
	width: 80%;
}
.disInput textarea {
	color: #999999;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 6px 3%;
	margin-top: 4px;
	width: 100%;
	border: 1px solid #cccccc;
	background-color: #fff;
	border-radius: 20px;
	resize: none;
	height: 22px;
}
.disInput-le {
	width: 92%;
}
.share {
	margin-top: 60px;
	margin-bottom: 30px;
}
.shaLine {
	position: relative;
	padding-bottom: 20px;
}
.shaLine i {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #eee;
}
.shaLine span {
	font-size: 18px;
	font-size: 1.8rem;
	position: absolute;
	left: 41%;
	margin-top:-15px;
	background-color: #fff;
	text-align: center;
    color: #bababa;
}
.sha-fx {
	margin-left: 4%;
	width: 20%;
	float: left;
}
.sha-fx img {
	width: 90%;
	margin: 0 auto;
}
.sha-fx span {
	padding-top: 10px;
	display: block;
	text-align: center;
	color: #999999;
	font-size: 14px;
	font-size: 1.4rem;
}
.com-h1 {
	padding-bottom: 10px;
}
.topBtn {
	position: fixed;
	bottom: 66px;
	right: 8px;
}
.topBtn img {
	width: 80%;
}
.sent {
	display: none;
}
.sentBtn {
	float: right;
	color: #fff;
	font-size: 13px;
	font-size: 1.3rem;
	padding: 2px 10px;
	background-color: #b5b5b5;
	border-radius: 5px;
}
.loading {
	padding-top: 35px;
	text-align: center;
	padding-bottom: 20px;
}
.loading a {
	padding-bottom: 50px;
	color: #999999;
	font-size: 22px;
	font-size: 2.2rem;
}
#content {
	position: relative;
	top: 120px;
}

/** header */
.burger-p{cursor: pointer; z-index: 1000; position: fixed; right: 10px; top: 19px;}

.burger.opaque { -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0); transform:translate3d(0,0,0); }
.burger div { background:#ccc; width: 20px;
    height: 3px;
    margin-bottom: 4px; -webkit-backface-visibility:hidden; -moz-transform:translateZ(0); -o-transform:translateZ(0); -ms-transform:translateZ(0); -webkit-transform:translateZ(0); transform:translateZ(0); }
.burger div:first-of-type, .burger div:last-of-type { -webkit-transition:-webkit-transform .3s ease .0s,background-color 0ms ease-out; -moz-transition:-moz-transform .3s ease .0s,background-color 0ms ease-out; -ms-transition:-ms-transform .3s ease .0s,background-color 0ms ease-out; -o-transition:-o-transform .3s ease .0s,background-color 0ms ease-out; transition:transform .3s ease .0s,background-color 0ms ease-out; position:relative; }

.burger.transform div:first-of-type, .burger.transform div:last-of-type { -webkit-transition:-webkit-transform .4s ease .3s,background-color 250ms ease-in; -moz-transition:-moz-transform .4s ease .3s,background-color 250ms ease-in; -ms-transition:-ms-transform .4s ease .3s,background-color 250ms ease-in; -o-transition:-o-transform .4s ease .3s,background-color 250ms ease-in; transition:transform .4s ease .3s,background-color 250ms ease-in; background:#ccc; }
.burger.transform div:first-of-type { -ms-transform:rotate(45deg); -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg); -o-transform:rotate(45deg); top:12px; }
.burger.transform div:nth-child(2) { display:none; }
.burger.transform div:last-of-type { transform:rotate(-45deg); -ms-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -o-transform:rotate(-45deg); top:-2px; }
.burger.transform div:first-of-type{ top: 6px; }

.nav-hide {display: none;}
.sy-downward {
    z-index: 999;
    position: fixed;
		top: 10px;
    left: 0;
    overflow: hidden;
    width: 100%;
    padding-top: 9%;
    height: auto;
    background-color: #3e3e46;
}
.sections-list{ width: 96%; overflow: hidden; margin:0 6%;}
.sections-list li{ width: 24%; height: 30px; float: left; line-height: 30px; border: 1px solid #535363; text-align: center; display: inline-block; margin-right: 8.6%; margin-bottom: 15px; }
.sections-list li a{ color: #b4b4b4; text-decoration: none; white-space: nowrap; font-size: 1.2em; }
.sections-list li a:hover{color: #00a5eb;}
.sections-list li:hover{color: #00a5eb;}
.sections-list li .select-on {
	color: #00a5eb;
}

.admire {
	padding-top: 18px;
	padding-bottom: 65px;
	position: relative;
} 
.admireBtn {
	text-align: center;
}
.codeBtn {
	position: relative;
	padding: 7px 23px;
	background-color: #cc0000;
	border-radius: 25px;
	color: #ffffff;
	font-size: 20px;
	cursor: pointer;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.codeBtn:hover,
.codeBtn:active,
.codeBtn:focus{
	background-color: #ba0002;
}
.admireBtn span {
	padding-top: 12px;
	display: block;
	color: #666666;
	font-size: 16px;
	font-size: 1.6rem;
}
.admireCode img {
	border: 5px solid #ececec;
	border-radius: 5px;
	padding: 9px;
	background-color: #fff;
	width: 90%;
}
.admireCode {
	position: absolute;
	left: 63%;
	top: -28px;
	display: none;
}
.admireBtn img  {
	z-index: 2;
	position: relative;
}
.admireCode i {
	position: absolute;
	left: -17.5px;
	top: 50%;
	margin-top: -17.5px;
	background-image: url(http://www.gospeltimes.cn/themes/fuyinshibao/Public/images/code_2.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: 35px 35px;
	width: 35px;
	height: 35px;
	z-index: 1;	
}
